.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 10%;
    border: 2px solid #000;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.column-left{
    height: 100px;
}

.column-right{
    width: 50px;
    text-align: left;
    font-weight: 600;
}

.btn{
    color: #ffffff;
}

.btn:hover{
    color: #FFE34F;
}

.btn:active, .btn:focus{
    color: #FFE34F;
}

.logout:hover{
    color: #000000;
}

.btn-warning{
    background-color: rgba(255, 227, 79, 0.85);
    color: #000;
}

.min-vh{
    min-height: calc(100vh - 486px);
    display: flex;
    align-items: center;
}

.login {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-light-success {
    color: #d4edda;
}

.text-light-error {
    color: #f8d7da;
}

.text-light-processing {
    color: #d1ecf1;
}

.logout-button{
    background-color: #FFE34F;
    color: #000;
}

.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    border-radius: 12px;
    max-width: 400px;
    margin: auto;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.otp-digit {
    width: 50px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    background: #eee;
    transition: all 0.2s ease;
    border: 2px solid #000000;
}

.otp-digit:focus {
    border-color: #fff;
    outline: none;
    background: #fff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}