.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 10%;
    border: 2px solid #000;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.column-left{
    height: 100px;
}

.column-right{
    width: 50px;
    text-align: left;
    font-weight: 600;
}

.btn{
    color: #ffffff;
}

.btn:hover{
    color: #FFE34F;
}