{% extends "base.html" %}

{% block title %}
    In-sight - User Dashboard
{% endblock %}

{% block body %}

    <main class="min-vh">
        <div class="container">
            <div class="d-flex">
                <h2>Videos</h2>

                <div class="d-flex gap-1 align-items-center justify-content-end w-100">
                    <input type="file" name="video" id="videoFile" accept="video/mp4" class="form-control"
                           style="max-width: 300px;"
                           aria-label="Choose a video file">
                    <button type="button" class="btn btn-dark" id="uploadButton">Upload Video</button>
                </div>
            </div>

            <div class="row py-5" id="videoList">
                {% for video in videos %}
                    {% include "video_card.html" with context %}
                {% endfor %}
            </div>
        </div>
    </main>

    {% include "toast.html" %}
{% endblock %}

{% block script %}
    <script src="/static/js/script.js" type="module"></script>
{% endblock %}