{% extends "base.html" %}

{% block title %}
    In-sight - Homepage
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to In-sight</h1>
                <p class="lead">In-sight is a web application that allows you to upload images and get a description of
                    the image using the Microsoft Azure Computer Vision API.</p>
                <p>Click the button below to get started.</p>
                <a href="/" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
{% endblock %}