{% extends "base.html" %}

{% block title %}
    In-sight - Login
{% endblock %}

{% block body %}
    <main class="min-vh">
        <div class="container py-5">
            <div class="d-flex justify-content-center">
                <div class="card shadow-sm no-hover" style="width: 100%; max-width: 450px;">
                    <div class="card-header bg-dark text-white">
                        <h4 class="mb-0">Login</h4>
                    </div>
                    <div class="card-body p-4">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                            <div class="mt-3 text-center">
                                <a href="/registrationPage">Do not have an account?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "toast.html" %}
{% endblock %}

{% block script %}
    <script src="/static/js/features/auth/login.js" type="module"></script>
{% endblock %}
