{% extends "base.html" %}

{% block title %}
    In-sight - Registration
{% endblock %}

{% block body %}
    <main class="min-vh">
        <div class="container py-5">
            <div class="d-flex justify-content-center">
                <div class="card shadow-sm no-hover" style="width: 100%; max-width: 450px;">
                    <div class="card-header bg-dark text-white">
                        <h4 class="mb-0">Registration</h4>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="/registerUser">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text" aria-required="true">We'll never share your email with
                                    anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       aria-required="true">
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirm_password"
                                       aria-required="true">
                            </div>
                            <button type="submit" class="btn btn-primary w-100" id="registerButton">Submit</button>
                            <div class="mt-3 text-center">
                                <a href="/loginPage">Already have an account?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "toast.html" %}
{% endblock %}

{% block script %}
    <script src="/static/js/features/auth/registration.js" type="module"></script>
{% endblock %}
