<div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-3 d-flex flex-row align-items-center justify-content-between">
        <div class="w-100">
            <img src="/getThumbnail/{{ video.id }}" alt="Video Thumbnail"
                 style="width: 100%; height: 210px; border-radius: 10px; object-fit: cover;">
            <div class="p-3">
                <h5 class="mb-1">
                    {{ video.filename[:30] + '...' if video.filename|length > 30 else video.filename }}
                </h5>
                <small>date: {{ video.date_added }}</small>
            </div>
        </div>
        <div class="card-actions">
            <button class="btn btn-success me-2">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/006/692/271/small_2x/document-icon-template-black-color-editable-document-icon-symbol-flat-illustration-for-graphic-and-web-design-free-vector.jpg"
                     alt="">
            </button>
            <button class="btn btn-danger">
                <img src="https://thumb.ac-illust.com/3b/3b5b217ce258702c0956cbf3b146acba_t.jpeg" alt="">
            </button>
        </div>
    </div>
</div>