<div class="card mb-3 p-3 d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <div style="width:100px; height:60px; background:#eee; border-radius:10px;"></div>
        <div class="ms-3">
            <h5 class="mb-1">{{ title }}</h5>
            <small>date: {{ date }}</small>
        </div>
    </div>
    <div>
        <button class="btn btn-success me-2">Show summary</button>
        <button class="btn btn-danger">Delete</button>
    </div>
</div>
